<ion-view title="Contact">
    <ion-content class="has-header">

        <div class="list">
            
            <label class="item item-input">
            <input type="text" placeholder="Subject" ng-model="contact.subject">
            </label>

            <label class="item item-input">
            <textarea placeholder="Message" ng-model="contact.body"></textarea>
            </label>

            <label class="item">
            <button class="button button-block button-{{appTheme}}" type="submit" ng-click="submitForm()">Send Message</button>
            </label>
            
        </div>
   
    </ion-content>
</ion-view>